version: 2
jobs:
  plan:
    docker:
      - image: hashicorp/terraform:0.11.11
    steps:
      - checkout
      - run:
          name: Terraform plan
          command: |
            cd terraform
            terraform init
            terraform plan -out plan.tfplan
      - persist_to_workspace:
          root: .
          paths:
            - .
  apply:
    docker:
      - image: hashicorp/terraform:0.11.11
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Terraform apply
          command: |
            cd terraform
            terraform apply plan.tfplan
      - run:
          name: Persist state
          command: |
            git config user.email "circleci@dave-thompson.co.uk"
            git config user.name "CircleCI"
            git add terraform/terraform.tfstate
            git commit -m "Terrform state update" --allow-empty
            git push -q https://${GITHUB_TOKEN}@github.com/davet1985/www.dave-thompson.co.uk.git master
workflows:
  version: 2
  plan_and_apply:
    jobs:
      - plan
      - wait_for_approval:
          type: approval
          requires:
            - plan
          filters:
            branches:
              only: master
      - apply:
          requires:
            - wait_for_approval
          filters:
            branches:
              only: master